/* start main container styles */
div#shell960 {
	width: 100%;
	max-width: 960px;
	background-color:#fff;
}
/* end main container styles */

/* start story section div styles */
.right, .left, .full {
	width: 630px;
	margin: 0 auto;
	margin-bottom: 6em;
	border-bottom: 1px solid #ccc;
}
/* end story section div styles */
	
/* start floating image styles */		
	
#shell960 .floatRight img, #shell960 .floatLeft img {

	max-width: 450px;
}

#shell960 .floatRight {
	float:right;
	clear:right;
	margin:10px -165px 10px 20px;
}

#shell960 .floatLeft {
	float:left;
	clear:left;
	margin:10px 20px 10px -165px;
	
}
/* end floating image styles */	

/* start 960px-wide image styles */	
#shell960 div.full img {
	width:960px;
	margin: 0px 0px 0px -165px;
}
/* end 960px-wide image styles */	

/* start typeface styles */
#shell960 p {
	
	font-size:1.3em;
}

#shell960 h3 {
	
	font-size:2.2em;
}
/* end typeface styles */

/* start list styles */

#shell960 ul {
	list-style: none;
}

#shell960 li {
	margin: 1em 0;
}

span.highlight {
	color: #e12300;
	font-weight: bold;
}


/* end list styles*/


