/* start main container styles */
div#shell960 {
	width: 100%;
	max-width: 960px;
	font-family: verdana;
    font-size:1.2em;
	background-color: #fff;
}

/* end main container styles */

/* start story section div styles */
.right, .left, .full {
	width: 630px;
	margin: 0 auto;
	margin-bottom: 6em;
	border-bottom: 1px solid #ccc;
}

#shell960 .zebra {
	background-color: #f7f7f7;
	padding: 30px;
	border-bottom: none;
}

#shell960 .zebra img {
	border: 1px solid #ccc;
}

/* end story section div styles */
	
/* start floating image styles */		
	
#shell960 .floatRight img, #shell960 .floatLeft img {
	max-width: 450px;
}

#shell960 .floatRight {
	float:right;
	clear:right;
	margin:10px -165px 10px 20px;
}

#shell960 .floatLeft {
	float:left;
	clear:left;
	margin:10px 20px 10px -165px;
}
/* end floating image styles */	

/* start full-width image styles */	
#shell960 div.full img.width960 {
	width:960px;
	margin: 0px 0px 0px -165px;
}

#shell960 div.full img.width630 {
	width:630px;
}
/* end full-width image styles */	

/* start typeface styles */
#shell960 p {
}

#shell960 h3 {
	
	font-size: 36px;
	font-family: 'Bitter', serif;
}
/* end typeface styles */

/* start list styles */

#shell960 ul {
	list-style: none;
}

#shell960 li {
	margin-bottom:1em;
}

span.highlight {
	font-weight: bold;
	font-size: 1.4em;
	color: #e12300;
}

ul#nestedList {
	list-style: square;
}
/* end list styles */

/* start table styles */

table.tableZebra {
	margin: 0;
	border-spacing: .25rem;
}

#tableZebra tr, th {
  text-align: left;
  letter-spacing: 1px;
  font-variant: small-caps;
  background: #000000;
  color: #ffffff;
  padding: 5px 7px;
}

#shell960 tr, td {
  padding: 5px 7px;
}

#shell960 tr.oddRow {
	background: #FBB829;
}

#shell960 tr.evenRow {
	background: #f7f7f7;
}

span.smallCaps {
	font-variant: small-caps;
}

/* end table styles */

