div#shell960 {
	width: 100%;
	max-width: 960px;
	background-color:#eee;
}

.right, .left, .full {
	width: 630px;
	margin: 0 auto;
	
}
	
/* div.right p, div.left p, div.full p, div.right h3, div.left h3, div.full h3 {
	padding: 0 115px 0 115px;
} */	
	
#shell960 .floatRight {
	float:right;
	clear:right;
	margin:10px -165px 10px 20px;
}

#shell960 .floatLeft {
	float:left;
	clear:left;
	margin:10px 20px 10px -165px;
	
}

#shell960 div.full img {
	width:960px;
	margin: 0px 0px 0px -165px;
}